*{
 
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
.nav{
  width:100%;
  height: 70px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
ul{
  display: flex;

}
.nav ul li{
padding: 5px 13px;
}
/* .logo{
  margin-left: -20%;
} */
ul li:hover{
border-bottom: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  color:  white;
}
ul{
  /* margin-left: 40%; */
}
.logo{
  font-size: large;
  font-size: 30px;
  font-weight: 900;
}
.icone{
  width: 200px;
  height: 50px;
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;

}
.profile{
  width:50px;
  /* background-color: green; */
  height: 40px;
  cursor: pointer;
  text-align: center;
}
.profile p{
  font-size: 12px;
  cursor: pointer;
  
}
.maincart{
  width:100%;
  height:400px;
  background-color: gray;
}
.maincart img{
  width:100%;
  height:400px;
  background-color: gray;
}
.insidecart{
width:100%;
height:auto;
/* background-color: green; */
display: flex;
justify-content: center;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
gap: 4vh;

}
.cartbox{
  width:300px;
  margin-top: 20px;
  height:400px;
  background-color: pink ;
  border-radius: 10px;
  
  
}
.cartsecond{
padding-left: 10px;
}
.cartbox img{
  width:100%;
  height: 70%;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
cursor: pointer;
}
.icone{
  display: flex;

  justify-content: start;
  gap:10px;
}
#actualprice{
  font-size:18px;
}
#discount{
  font-size:12px;
}
.star{
  color: red;
}
.shipping{
  display: flex;
  justify-content: start;
  gap: 10px;
}
@media (max-width:621px) {
  .nav ul{
    display: none;
  }
  .maincart img{
    width:100%;
    height:200px;
   
  }
  .maincart{
    width:100%;
    height:200px;
   
  }
  
}